#hot{
    padding-top:108px;
}
#hot .am-list-item-middle{
    min-height:100px;
    position: relative;
}
#hot .am-list-item img{
    width:70px;
    height: 70px;
}
#hot .hot-ico{
    position: absolute;
    top:70px;
    left:114px;
}
.hot-ico span{
    padding-left: 12px;
    font-weight: bold;
    color: #999;
}
