.box {
  width: 5rem;
  height: 8.875rem;
  background-color: skyblue;
}
.box1 {
  width: 50%;
  height: 1.5625rem;
  background-color: yellowgreen;
}
.box3 {
  height: 17.75rem;
  width: 100%;
  background-color: red;
}
