#rank{
    padding-top:108px;
}
#rank .am-list-item-middle{
    min-height:80px;
}
#rank .am-list-item img{
    width:70px;
    height: 70px;
}
#rank .am-list-item .am-list-line .am-list-content{
    /* font-weight:bold; */
    font-size: 20px;
}